# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# Virtual Environment
.venv/
env/
venv/
ENV/

# Databases
*.db
*.sqlite3

# Project-specific binaries
uv
uv.tar.gz

# Streamlit
.streamlit/
